body {
  background-image: url("https://www.lionheartwallpaper.com/cdn/shop/files/LAN100017-1-WALLPAPER_1445x.webp?v=1697434092");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-family: "krul", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}
.form-label {
  font-family: "amandine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.form {
  font-family: "amandine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.button-56 {
  align-items: center;
  background-color: #81a2b0;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
#result {
  font-family: "krul", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  width: 100%;
  text-shadow: 1px 5px 3px rgb(94, 183, 252);
}


/*Start of title animation*/

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "krul", sans-serif;
  margin-top:30px;
  font-size:100px;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
